
<!DOCTYPE html>
<html>
<head>
<title>Carpe Diem | Home</title>
<link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="js/jquery.min.js"></script>
<!-- Custom Theme files -->
<!--menu-->
<script src="js/scripts.js"></script>
<link href="css/styles.css" rel="stylesheet">
<!--//menu-->
<!--theme-style-->
<link href="css/style.css" rel="stylesheet" type="text/css" media="all" />  
<!--//theme-style-->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- slide -->
<script src="js/responsiveslides.min.js"></script> 
   <script>
    $(function () {
      $("#slider").responsiveSlides({
        auto: true,
        speed: 500,
        namespace: "callbacks",
        pager: true,
      });
    });
  </script>
</head>
<body >
<!--header-->
<div class="header">
    <div class="container">
         <a href="/"><img class="logoImage" style="width: 20%;" src="/images/Logo/Logo.png"></a>
        <!--logo-->
            <div class="logo" style="display:none;">
                <h1>Carpe Diem</h1>
            </div>
            <div class="top-nav">
                <div class="nav-icon">
                    <div class="hero fa-navicon fa-2x nav_slide_button" id="hero">
                            <a href="#"><i class="glyphicon glyphicon-menu-hamburger"></i> </a>
                    </div>  
                </div>
            </div>
        <!--//logo-->
        <div class="navigation">
            <div class="container-fluid">
                <nav class="pull" style="display:block;">
                    <ul>
                        <li><a  href="/">Home</a></li>
                        <li><a  href="/sobre-nosotros">Nuestra empresa</a></li>
                        <li><a  href="/propiedades">Propiedades</a></li>
                        <li><a  href="/inversiones">Inversiones</a></li>
                        <li><a  href="/contacto">Contacto</a></li>
                    </ul>
                </nav>          
            </div>
        </div>
</div>
</div>
<div class="navigation-mobile">
            <div class="container-fluid">
                <nav class="pull2" style="display: none;">
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="/sobre-nosotros">Nuestra empresa</a></li>
                        <li><a href="/propiedades">Propiedades</a></li>
                        <li><a href="/inversiones">Inversiones</a></li>
                        <li><a href="/contacto">Contacto</a></li>
                    </ul>
                </nav>          
            </div>
</div>
        {{{body}}}
<!--//-->   
<!--footer-->
<div class="footer">
    <div class="container">
        <div class="footer-top-at">
            <div class="col-md-3 amet-sed">
                <h4>Nuestra empresa</h4>
                <ul class="nav-bottom">
                    <li><a href="/sobre-nosotros">Sobre nosotros</a></li>
                    <li><a href="/inversiones">Inversiones</a></li>                    
                </ul>   
            </div>
            <div class="col-md-3 amet-sed ">
                <h4>Servicios</h4>
                    <ul class="nav-bottom">
                        <li><a href="/propiedades">Ventas</a></li>
                        <li><a href="/propiedades">Alquileres</a></li>
                    </ul>   
            </div>
            <div class="col-md-3 amet-sed">
                <h4>Contacto</h4>
                <p>Mon-Fri, 7AM-7PM </p>
                <p>Sat-Sun, 8AM-5PM </p>
                <p>177-869-6559</p>
            </div>
            <div class="col-md-3 amet-sed ">
                <h4>Seguinos</h4>
                    <ul class="social">
                        <li><a href="#"><i class="twitter"> </i></a></li>
                        <li><a href="#"><i class="camera"> </i></a></li>
                        <li><a href="#"><i class="dribble"> </i></a></li>
                    </ul>
            </div>
        <div class="clearfix"> </div>
        </div>
    </div>
</div>
<!--//footer-->
</body>
</html>