<div class="contact">
    <div class="container">
        <h3>Contacto</h3>
     <div class="contact-top">
        <div class="col-md-6 contact-top1">
          <h4> Informacion</h4>
          <p class="text-contact">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the when an unknown printer took.</p>
          <div class="contact-address">
            <div class="col-md-6 contact-address1">
                 <h5>Direccion</h5>
                 <p><b>Carpe Diem Bienes y Raices</b></p>
                 <p>Av. Juan B Justo 832, Barrio Uno</p>
                 <p>Centro comercial, local 7</p>  
            </div>
            <div class="col-md-6 contact-address1">
                  <h5>Email </h5>
                 <p>Informacion :<a href="malito:mail@demolink.org"> info@carpediem.com.ar</a></p>
                 <p>Contacto :<a href="malito:mail@demolink.org"> contacto@carpediem.com.ar</a></p>
            </div>
            <div class="clearfix"></div>
          </div>
          <div class="contact-address">
            <div class="col-md-6 contact-address1">
                 <h5>Telefono </h5>
                 <p>Tel/Fax : 254-8974-5847</p>
                 <p>Celular : +174 1478 74755</p>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
        <div class="col-md-6 contact-right">
    
            <form>
               <input type="text" placeholder="Nombre" required="">
               <input type="text" placeholder="Email" required="">
               <input type="text" placeholder="Asunto" required="">
               <textarea placeholder="Mensaje" requried=""></textarea>
               <label class="hvr-sweep-to-right">
               <input type="submit" value="Enviar">
               </label>
            </form>
        </div>
        <div class="clearfix"> </div>
</div>
    </div>
    <div class="map">
<iframe
  width="600" height="450" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyBNHlYeLXK-jScodWhk9GSMh-1yrJth12g&q=miguel+cane+20,ezeiza" allowfullscreen>
</iframe>
        </div>
</div>